/.idea/.gitignore
/.idea/modules.xml
/.idea/php.xml
/.idea/php-test-framework.xml
/.idea/vcs.xml
/upload/
upload
/.DS_Store
/.idea
/.vscode/settings.json
/config/c4d-app-c299b-firebase-adminsdk-vvvu2-e95160bc8e.json
